/test/functional/fixtures/cache
/test/functional/fixtures/log
/lib/plugins/sfDoctrinePlugin/test/functional/fixtures/lib/*/doctrine/base/
/lib/plugins/sfDoctrinePlugin/test/functional/fixtures/lib/*/doctrine/*/base/
/lib/plugins/sfDoctrinePlugin/test/functional/fixtures/cache/
lib/plugins/sfDoctrinePlugin/test/functional/fixtures/log/
/vendor
/composer.lock
.php-cs-fixer.cache
.phpunit.result.cache
phpunit.xml
/tests/fixtures/symfony/log
