.docker/               export-ignore
.editorconfig          export-ignore
.env.dist              export-ignore
.gitattributes         export-ignore
.github/               export-ignore
.gitignore             export-ignore
.php-cs-fixer.dist.php export-ignore
docker-compose.yml     export-ignore
phpstan.neon           export-ignore
phpunit.xml            export-ignore
test/                  export-ignore
tests/                 export-ignore
