parameters:
    level: 1
    bootstrapFiles:
        - .phpstan/bootstrap.php
    paths:
        - lib
        - test
    excludePaths:
        analyse:
            - lib/task/symfony/lime_symfony.php
            - lib/task/symfony/sfSymfonyTestTask.class.php
