<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
         stderr="true">
    <php>
        <ini name="error_reporting" value="32767" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Symfony Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./lib/</directory>
        </include>
    </coverage>
</phpunit>
